/**
 *  Dropdown style file
**/

@import '~@/styles/main.scss';

.ltd-dropdown-container {
  // force the browser optimizing the animation of the component itself
  * {
    will-change: height, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .trigger { cursor: pointer; }

  .expand-enter-active,
  .expand-leave-active {
    opacity: 1;
    overflow: hidden;
    transition: height 0.2s ease-in-out,
                opacity 0.2s 0.05s ease-in-out;
  }

  .expand-enter,
  .expand-leave-to {
    height: 0;
    opacity: 0;
  }
}
