/**
 *  Dropdown style file
**/


.ltd-dropdown-container {
  
  .dropdown-select-wrapper {
    cursor: pointer;
  }

  .dropdown-content-wrapper {
    display: none;

    &.open { display: inline; }
  }
}
