/**
 *  GeoLogo style file
**/

@import '~@/styles/main.scss';

.ltd-geo-logo-container {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-family; 
  font-size: $geo-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // width: 400px;
  padding: 0 0 0 10px;
  border-radius: $geo-border-radius $geo-border-radius 0 0;

  &.light {
    background-color: rgba(0, 0, 0, 0.3);

    a { color: $colorN05; }
  }
  
  &.dark {
    background-color: rgba(255, 255, 255, 0.4);
    
    a { color: $colorN80; }
  }
  
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }

  .carto-logo {
    display: flex;
    width: auto;
    height: 22px;
    margin: 0 12px 0 6px;

    img {
      width: auto;
      height: 90%;
      margin-top: 1px;
    }
  }

  .geo-logo {
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    background-color: $geo-color;
    border-radius: 2px;
    margin-left: 6px;

    &:hover .comp {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    > img {
      margin: 0;
      width: 100%;
      height: auto;
    }

    .comp {
      position: absolute;
      bottom: calc(100% - 4px);
      right: 20px;
      padding: 2px;
      border-radius: 2px;
      background-color: white;
      opacity: 0;
      transform: translate3d(0, 8px, 0);
      pointer-events: none;
      transition: opacity 0.25s ease,
                  transform 0.25s ease;
    }
  }
}
