/**
 *  Pagination style file
**/

@import '~@/styles/main.scss';

.ltd-pagination-container {
  width: 100%;
  
  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-top: 1px solid $colorN30;
    box-sizing: border-box;
      
    li {
      font-size: 12px;
      margin-right: 10px;
      
      p {
        font-size: 12px;
        margin: 0;
      }
      
      button {
        color: $colorN80;
        background-color: $colorN15;
        cursor: pointer;
      }

      &.disabled button {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    
  }
}
