/**
 *  Heading style file
 **/

@import '../calendar.scss';

.ltd-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $calendar-heading-height;
  margin-bottom: $calendar-padding;
  padding: $calendar-padding $calendar-padding 0 $calendar-padding;

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  button.prev { transform: rotate(180deg); }

  button.prev,
  button.next {
    display: inline-flex;

    svg,
    .ltd-icon-container {
      fill: $calendar-arrow-icon-fill;
      transition: fill 0.25s ease;
    }

    &:hover svg,
    &:hover .ltd-icon-container {
      fill: $calendar-arrow-icon-fill-hover;
    }
  }

  button.controls {  
    font-size: $calendar-heading-font-size;
    font-weight: $calendar-heading-font-weight;
    color: $calendar-heading-color;
    margin: 0 2px; 
  }
}
