/**
 * Switch style file
 */
$font-family: var(--font-family, 'Helvetica Nue', helvetica, sans-serif);
$switch-width: var(--switch-width, 44px);
$switch-height: var(--switch-height, 22px);
$switch-size: var(--switch-size, 18px);
$switch-color: var(--switch-color, white);
$switch-content-color: var(--switch-content-color, white);
$switch-color-disabled: var(--switch-color-disabled, white);
$switch-content-font-size: var(--switch-content-font-size, 12px);
$switch-background-color: var(--switch-background-color, #BBBCBC);
$switch-background-color-checked: var(--switch-background-color-checked, #15b750);
$switch-label-font-size: var(--switch-label-font-size, 12px);
$switch-label-color: var(--switch-label-color, #222222);
$switch-label-margin: var(--switch-label-margin, 4px);

.ltd-switch-container {
  outline: none;
  width: $switch-width;
  height: $switch-height;
  font-family: $font-family;
  line-height: $switch-height;
  border-radius: $switch-width;
  vertical-align: middle;
  background-color: $switch-background-color;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;

  &:after {
    content: '';
    width: $switch-size;
    height: $switch-size;
    border-radius: $switch-size;
    background-color: $switch-color;
    position: absolute;
    left: 2px;
    top: 2px;
    cursor: pointer;
    transition: left 0.2s ease-in-out, 
                width 0.2s ease-in-out;
  }

  &:active:after { width: calc(#{ $switch-size } * 1.3); }

  &.checked {
    border-color: $switch-background-color-checked;
    background-color: $switch-background-color-checked;

    .content-wrapper { 

      span { left: calc(#{ $switch-width } / 5); }
      i { left: 5px; }
    }

    &:after { left: calc(#{ $switch-width } - #{ $switch-size } - 2px); }

    &:active:after { left: calc(#{ $switch-size } + 1px); }
  }

  &.disabled {
    opacity: .4;
    cursor: not-allowed;

    &:after {
      background: $switch-color-disabled;
      cursor: not-allowed;
    }
  }
  
  .content-wrapper {
    position: absolute;
    color: $switch-content-color;
    font-size: $switch-content-font-size;
    
    span {
      position: absolute;
      top: 0;
      left: calc(#{ $switch-width } - #{ $switch-size } - 2px);
    }

    i {
      display: inline-flex;
      position: absolute;
      top: 3px;
      left: calc(#{ $switch-width } - #{ $switch-size } - 4px);
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity 0.15s ease;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
  }

  .label {
    position: relative;
    left: calc(#{ $switch-width } + #{ $switch-label-margin });
    font-size: $switch-label-font-size;
    color: $switch-label-color;
  }
}
