/**
 * Switch style file
 */
$font-family: var(--font-family, 'Helvetica Nue', helvetica, sans-serif);
$switch-width: var(--switch-width, 40px);
$switch-border: var(--switch-border, none);
$switch-dragger-size: calc((#{ $switch-width } / 2) - 4px);
$switch-dragger-color: var(--switch-dragger-color, white);
$switch-content-color: var(--switch-content-color, white);
$switch-content-font-size: var(--switch-content-font-size, 12px);
$switch-background-color: var(--switch-background-color, #BBBCBC);
$switch-background-color-checked: var(--switch-background-color-checked, #15b750);
$switch-label-font-size: var(--switch-label-font-size, 12px);
$switch-label-font-weight: var(--switch-label-font-weight, 400);
$switch-label-color: var(--switch-label-color, #222222);
$switch-label-margin: var(--switch-label-margin, 6px);

.ltd-switch-container {
  $dragger-expanded: calc(#{ $switch-dragger-size } + 2px);
  $size: calc(#{$switch-width} - 4px);

  outline: none;
  display: flex;
  width: $size;
  height: calc(#{ $switch-width } / 2);
  font-family: $font-family;
  line-height: calc(#{ $switch-width } / 2);
  border: $switch-border;
  border-radius: $switch-width;
  vertical-align: middle;
  background-color: $switch-background-color;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    width: $switch-dragger-size;
    height: $switch-dragger-size;
    border-radius: $switch-dragger-size;
    background-color: $switch-dragger-color;
    left: 2px;
    top: 2px;
    cursor: pointer;
    transition: left 0.2s ease-in-out, 
                width 0.2s ease-in-out;
  }

  &:active:after { width: $dragger-expanded; }

  &.checked {
    border-color: $switch-background-color-checked;
    background-color: $switch-background-color-checked;

    .content-wrapper { 
      span {
        top: 50%;
        left: 25%;
        transform: translate3d(-25%, -50%, 0);
      }

      i {
        top: 50%;
        left: 25%;
        transform: translate3d(-25%, -50%, 0);
      }
    }

    &:after { left: calc(#{ $size } - #{ $switch-dragger-size } - 2px); }

    &:active:after { left: calc(#{ $size } - #{ $switch-dragger-size } - 4px); }
  }

  &.disabled {
    opacity: .4;
    cursor: not-allowed;

    &:after {
      cursor: not-allowed;
    }
  }
  
  .content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: $switch-content-color;
    font-size: $switch-content-font-size;

    
    span {
      display: flex;
      position: absolute;
      width: $switch-dragger-size;
      height: $switch-dragger-size;
      top: 50%;
      right: 0;
      transform: translate3d(0, -50%, 0);
      line-height: $switch-dragger-size;
    }

    i {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translate3d(0, -50%, 0);
    }
  }

  .label {
    position: absolute;
    font-size: $switch-label-font-size;
    font-weight: $switch-label-font-weight;
    color: $switch-label-color;

    &.right {
      right: 0;
      transform: translateX(calc(100% + #{ $switch-label-margin }));
    }

    &.left {
      left: 0;
      transform: translateX(calc(-100% - #{ $switch-label-margin }))
    }
  }

  .fade-enter-active, .fade-leave-active { transition: opacity 0.25s ease; }
  .fade-enter, .fade-leave-to { opacity: 0; }
}
