$colorAccent: var(--color-accent, #15b750);
$colorAccentDark: var(--color-accent-dark, #FFCC33);
$colorAccentLight: var(--color-accent-light, #FFDE00);
$colorAccentDarkest: var(--color-accent-darkest, #e06e01);
$colorComp: var(--color-comp,#007396);
$colorCompDark: var(--color-comp-dark,#00546E);
$colorDelete: var(--color-delete,#f86b5f);

$colorMotrio: var(--color-motrio,#D93026);
$colorCompetitor: var(--color-competitor,#A56CE9);

$colorBlack: var(--color-black, #000);
$colorN100: var(--color-n100, #222222);
$colorN90: var(--color-n90, #333333);
$colorN80: var(--color-n80, #53565A);
$colorN60: var(--color-n60, #888B8D);
$colorN50: var(--color-n50, #999999);
$colorN30: var(--color-n30, #BBBCBC);
$colorN15: var(--color-n15, #EEEEEE);
$colorN10: var(--color-n10, #F1F1F2);
$colorN05: var(--color-n05, #FAF9F8);
$colorWhite: var(--color-white, #FFF);

$colorIncrement: var(--color-increment,#39b185);
$colorDecrement: var(--color-decrement,#cf597e);

// TODO: font


// Calendar
$calendar-padding: var(--calendar-padding, 10px);
$calendar-heading-height: var(--calendar-heading-height, 40px);
$calendar-border: var(--calendar-border, 1px solid $colorN05);
$calendar-border-radius: var(--calendar-border-radius, 4px);
$calendar-header-height: var(--calendar-header-height, 20px);

$calendar-header-font-size: var(--calendar-header-font-size, 12px);
$calendar-header-font-weight: var(--calendar-header-font-weight, 400);

$calendar-arrow-icon: var(--calendar-arrow-icon, 'icon-arrow');
$calendar-arrow-icon-fill: var(--calendar-arrow-icon-fill, $colorN80);
$calendar-arrow-icon-fill-hover: var(--calendar-arrow-icon-fill-hover, $colorN50);

// Switch
$switch-width: var(--switch-width, 44px);
$switch-height: var(--switch-height, 22px);
$switch-size: var(--switch-size, 18px);
$switch-color: var(--switch-color, $colorWhite);
$switch-content-color: var(--switch-content-color, $colorWhite);
$switch-color-disabled: var(--switch-color-disabled, $colorWhite);
$switch-content-font-size: var(--switch-content-font-size, 12px);
$switch-background-color: var(--switch-background-color, $colorN30);
$switch-background-color-checked: var(--switch-background-color-checked, $colorAccent);
$switch-label-margin: var(--switch-label-margin, 4px);

// Checkbox
$checkbox-size: var(--checkbox-size, 12px);
$checkbox-font-size: var(--checkbox-font-size, 12px);
$checkbox-color: var(--checkbox-color, $colorWhite);
$checkbox-border-color: var(--checkbox-border-color, $colorN60);
$checkbox-border-color-hover: var(--checkbox-border-color-hover, $colorN80);
$checkbox-color-checked: var(--checkbox-color-checked, $colorAccent);
$checkbox-border-color-checked: var(--checkbox-border-color-checked, $colorAccent);
$checkbox-border-color-checked-hover: var(--checkbox-border-color-checked-hover, $colorIncrement);
$checkbox-icon-size: var(--checkbox-icon-size, 6px);
$checkbox-icon-color: var(--checkbox-icon-color, $colorWhite);


// Radio Group
$horizontal-radio-margin: var(--horizontal-radio-margin, 10px);
$vertical-radio-margin: var(--vertical-radio-margin, 10px);

// Radio
$radio-size: var(--radio-size, 12px);
$radio-font-size: var(--radio-font-size, 12px);
$radio-color: var(--radio-color, $colorWhite);
$radio-border-color: var(--radio-border-color, $colorN60);
$radio-border-color-hover: var(--radio-border-color-hover, $colorN80);
$radio-color-checked: var(--radio-color-checked, $colorAccent);
$radio-border-color-checked: var(--radio-border-color-checked, $colorAccent);
$radio-border-color-checked-hover: var(--radio-border-color-checked-hover, $colorIncrement);
$radio-icon-size: var(--radio-icon-size, 6px);
$radio-icon-color: var(--radio-icon-color, $colorWhite);
