$colorAccent: var(--color-accent, #15b750);
$colorAccentDark: var(--color-accent-dark, #FFCC33);
$colorAccentLight: var(--color-accent-light, #FFDE00);
$colorAccentDarkest: var(--color-accent-darkest, #e06e01);
$colorComp: var(--color-comp,#007396);
$colorCompDark: var(--color-comp-dark,#00546E);
$colorDelete: var(--color-delete,#f86b5f);

$colorMotrio: var(--color-motrio,#D93026);
$colorCompetitor: var(--color-competitor,#A56CE9);

$colorBlack: var(--color-black, #000);
$colorN100: var(--color-n100, #222222);
$colorN90: var(--color-n90, #333333);
$colorN80: var(--color-n80, #53565A);
$colorN60: var(--color-n60, #888B8D);
$colorN50: var(--color-n50, #999999);
$colorN30: var(--color-n30, #BBBCBC);
$colorN15: var(--color-n15, #EEEEEE);
$colorN10: var(--color-n10, #F1F1F2);
$colorN05: var(--color-n05, #FAF9F8);
$colorWhite: var(--color-white, #FFF);

$colorIncrement: var(--color-increment,#39b185);
$colorDecrement: var(--color-decrement,#cf597e);

// font
$font-family: var(--font-family, 'Helvetica Nue', helvetica, sans-serif);