/**
 *  Calendar style file
 **/

@import '~@/styles/main.scss';

.ltd-calendar-container {
  font-family: 'Helvetica Nue', helvetica, sans-serif; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $colorN80;
  box-sizing: border-box;
  
  width: 100%;
  height: auto;

  .calendar {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: $calendar-border;
    border-radius: $calendar-border-radius;
    box-sizing: border-box;
  }
}
