/**
 *  MonthSelector style file
**/

@import '~@/styles/main.scss';

.ltd-month-selector-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $calendar-padding;
  background-color: $colorWhite;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $calendar-heading-height;
    margin-bottom: $calendar-padding;
    padding: $calendar-padding $calendar-padding 0 $calendar-padding;

    button.prev app-icon { transform: rotate(180deg); }
    button.prev,
    button.next {
      display: inline-flex;

      &:hover app-icon {
        fill: $colorN80;
      }
    }

    app-icon { 
      fill: $colorN50; 
      transition: fill 0.25s ease;
    }
  }

  .months {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
    grid-auto-rows: 1fr;

    &:before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    & > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .month {
      padding: 2px;

      button {
        width: 100%;
        height: 100%;
        padding: 4px 6px;
        color: $colorN80;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        background-color: $colorN05;
        border-radius: $calendar-border-radius;

        &.active {
          border: 2px solid #00c6d7;
          border-radius: $calendar-border-radius;
          font-weight: bold;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: $calendar-padding;
    
    button {
      width: 100%;
      height: 36px;
      color: $colorN80;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      background-color: $colorN05;
      border-radius: $calendar-border-radius;
    }
  }
}
